name: work space build test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build_and_test:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update && 
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y && 
          . "$HOME/.cargo/env" &&
          cargo install cross --git https://github.com/cross-rs/cross
        shell: bash
        
      - name: Check out repository
        uses: actions/checkout@v3
        
      - name: Build tests
        run: |
          source "$HOME/.cargo/env" &&
          cross build --target aarch64-unknown-linux-gnu --release
        shell: bash

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ github.ref_name }}"
          files: |
            target/aarch64-unknown-linux-gnu/release/robo2_main
